# IDE
.vscode/

# Environments
__pycache__
Include/
Lib/
pyvenv.cfg
venv/
.venv/

# pyinstaller
build/
dist/
*.spec

# Output
out.txt
output-*.txt
outputs/

# Database
database.db-journal
database.ini

# Testing Items
measures/
tested/
/measure.json
visualized-*.txt

# security
config.ini