# Environments
.vscode/
__pycache__
Include/
Lib/
Scripts/
pyvenv.cfg

# pyinstaller
build/
dist/
__main__.spec
Makefile

# Output
out.txt
output-*.txt

# Database Stuff
database.db-journal

# Testing Items
measures/
tested/
/measure.json